<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration PUBLIC
	"-//Apache Software Foundation//DTD Log4J Configuration 1.0//EN"
	"http://renga.googlecode.com/svn-history/r4/vendor/logging-log4j-1.2.14/docs/api/org/apache/log4j/xml/log4j.dtd">
<log4j:configuration>

	<appender name="null" class="org.apache.log4j.varia.NullAppender" />

	<appender name="stdout" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{yyyy/MM/dd HH:mm:ss}] [%-5p] %c [line]%L : %m%n"/>
		</layout>
	</appender>

	<appender name="joblog" class="jp.co.ksc.batch.log4j.BatchJobFileAppender">
		<!-- ログファイルのPathを指定 -->
		<param name="Encoding" value="Windows-31J" />
		<param name="file" value="/var/www/download/logs/batch/" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{yyyy/MM/dd HH:mm:ss}] [%-5p] %m%n" />
		</layout>

		<filter class="org.apache.log4j.varia.StringMatchFilter" >
			<param name="StringToMatch"  value="No TaskExecutor" />
			<param name="AcceptOnMatch"  value="false" />
		</filter>

		<filter class="org.apache.log4j.varia.StringMatchFilter" >
			<param name="StringToMatch"  value="ooo" />
			<param name="AcceptOnMatch"  value="false" />
		</filter>

		<filter class    = "org.apache.log4j.varia.LevelMatchFilter">
            <param name  = "LevelToMatch"  value = "trace"/>
            <param name  = "AcceptOnMatch" value = "false"/>
        </filter>
	</appender>

	<appender name="errjoblog" class="jp.co.ksc.batch.log4j.BatchJobErrorFileAppender">
		<!-- ログファイルのPathを指定 -->
		<param name="Encoding" value="Windows-31J" />
		<param name="Threshold" value="error" />
		<param name="file" value="/var/www/download/logs/batch/" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{yyyy/MM/dd HH:mm:ss}] [%-5p] %m%n" />
		</layout>

		<!-- ERROR, WARNのみ出力するfilter設定 -->
        <filter class="org.apache.log4j.varia.LevelMatchFilter">
            <param name="LevelToMatch"  value="error" />
            <param name="AcceptOnMatch"  value="true" />
        </filter>
        <filter class="org.apache.log4j.varia.LevelMatchFilter">
            <param name="LevelToMatch"  value="fatal" />
            <param name="AcceptOnMatch"  value="true" />
        </filter>
	</appender>

	<category name="org.springframework.batch.core">
		<priority value="trace" />
		<appender-ref ref="joblog" />
		<appender-ref ref="errjoblog" />
	</category>

	<category name="jp.co.netmarks">
		<priority value="trace" />
		<appender-ref ref="joblog" />
		<appender-ref ref="errjoblog" />
	</category>

	<category name="jp.co.ksc">
		<priority value="trace" />
		<appender-ref ref="joblog" />
		<appender-ref ref="errjoblog" />
	</category>

	<root>
		<priority value="fatal" />
		<appender-ref ref="stdout" />
	</root>

</log4j:configuration>