<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jp.co.netmarks.persistence.LineReflectedClusterMapper">

	<!-- ### INSERT ### -->
	<insert id="insertLineReflectedCluster" parameterType="LineReflectedClusterEntity">
		INSERT INTO LINE_REFLECTED_CLUSTER(
			CUCM_LINE_ID
			, CLUSTER_ID
			, LINE_PKID
			, CREATION_DATETIME
			, LASTUPDATE_DATETIME
		) VALUES (
			#{cucmLineId}
			, #{clusterId}
			, #{linePkid}
			, #{crtTmstmp}
			, #{lstupdtTmstmp}
		)
	</insert>
	
	
	<!-- ### UPDATE ### -->
	
	
	<!-- ### DELETE ### -->


</mapper>